 @font-face {
    font-family: script;
    src: url(./fonts/danielbd.ttf);
}

@font-face {
    font-family: type-regular;
    src: url(./fonts/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: type-bold;
    src: url(./fonts/RobotoMono-Bold.ttf);
}

body {
    
    /* Main background colour is white*/
    background-color: white;
    height: 250v;
    
    /* Uses a repeating gradiant to get the green stripes. It is a solid colour because the gradiant goes from green to green. each stripe is separated by a 46px transparent stripe.
    
    green stripe between 0 - 25px, transparent stripe between at 25 - 50 */
    background-image: repeating-linear-gradient(#90F5B2 0px, #90F5B2 25px, transparent 25px, transparent 50px);
    
    /* The body has a default margin that should be set to zero so that the stripes do not show up on the outside of the boarders.*/
    margin: 0;
    padding: 0;
    
    /* These boarders allow the */
    border-left: 100px solid white;
    border-right: 100px solid white;
    border-bottom: 30px solid white;
    border-top: 50px solid white;
}

.overlay {
    background-color: #ffffff00;
    position: absolute;
    z-index: 100;
}

.code {
    font-family: script;
    color: red;
    left: 720px;
    top: 50px;
    transform: rotate(45deg);
    text-align: center;
}

.error1 {
    font-family: script;
    color: blue;
    left: 720px;
    top: 350px;
    transform: rotate(-25deg);
    text-align: center;
    width: 250px;
}

.error2 {
    font-family: script;
    color: green;
    left: 5px;
    top: 900px;
    transform: rotate(-85deg);
    text-align: center;
    width: 250px;
}

.error3 {
    font-family: script;
    color: black;
    left: 900px;
    top: 1450px;
    transform: rotate(10deg);
    text-align: center;
    width: 250px;
}

/*This is the old timey printer font, who's ttf has been added to the fonts folder*/

@font-face{
    font-family: fakeReceipt;
    src: url(fonts/fake%20receipt.ttf);
}

h2 {
    /* The previous bit of code made this possible to use the fake receipt font */
    font-family: "fakeReceipt";
    padding-left: 10px;
    padding-right: 10px;
    width: 550px;
}

th {
    padding: 14.5px;
    outline-style: dotted;
    outline-width: 2px;
    font-family: "fakeReceipt";
    text-underline-position: alphabetic;
    align-items: center;
    background-color: transparent;
}

td {
    font-family: "fakeReceipt";
    padding: 14.5px;
    outline-style: dotted;
    outline-width: 2px;
    background-color: transparent;
    text-align: center;
}

.printed {
    /* The previous bit of code made this possible to use */
    font-family: "fakeReceipt";
    line-height: 35px;
}

.printed-bold {
    font-family: "fakeReceipt";
    line-height: 33px;
}
